*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josfin Sans", sans-serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);
}

.inner-div{
    width: 40vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);

}

.inner-div h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inner-div p{
    font-size: small;
    line-height: 25px;
    letter-spacing: 0.015em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}