{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENFJ</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
     <div class="main-div">
         <div class="inner-div">
             <h2 class = "pers">The ENFJ Personality Type</h2>
             <p>
                ENFJs are idealist organizers, driven to implement their vision of what is best for humanity. They often act
                as catalysts for human growth because of their ability to see potential in other people and their charisma
                in persuading others to their ideas. They are focused on values and vision, and are passionate about
                the possibilities for people.
                
                ENFJs are typically energetic and driven, and often have a lot on their plates. They are tuned into the needs
                of others and acutely aware of human suffering; however, they also tend to be optimistic and forward-thinking, 
                intuitively seeing opportunity for improvement. The ENFJ is ambitious, but their ambition is not
                self-serving: rather, they feel personally responsible for making the world a better place.
             </p>
         </div>
     </div>    
</body>
</html>