{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Test</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main-div">
        <div class="inner-div">
            <h2 class="question">Question 1</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="ans1" class="answer">
                    <label for="ans1" id="option1">Option 1</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="ans2" class="answer">
                    <label for="ans2" id="option2">Option 2</label>
                </li>
            </ul>
            <button id="submit">Submit</button>
            <div id="ShowResult" class="ResultArea"> </div>
            </form>
        </div>
    </div>

<script src = "{% static 'script.js' %}"></script>
</body>
</html>